<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    
</head>
<body>
  
  <div class="container">
     
     <header class="header">
        
        <a class="link-title" href="/">ALPHA BLOG</a>
        
     </header>
     
     <nav class="menu">
        
         
         <%= link_to 'About', about_path %> 
         
         
         
         
     </nav>
     
     
     
     <article class="main">
         

       <div id="home-image">
           
           <%= image_tag 'profileimage.png' %>
       </div>
       
        
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, est voluptas consequatur facere nostrum aspernatur velit reiciendis architecto fuga expedita esse saepe quisquam repudiandae consequuntur mollitia officiis ratione ipsum repellat!
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam asperiores quam quod iusto laborum facilis a at. Totam non, velit vitae dignissimos sapiente voluptatum ducimus molestiae, fuga dolore libero tenetur.</p>
       
         
     </article>
     
     
     
     
     <footer>
         &copy; 2030 Minimal Website &nbsp;<span class="separator">|</span> Design by Vincent Johnson
         
     </footer>
      
      
  </div>
   
   
    
</body>
</html>